*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, #ff9966 0%, #ff5e62 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button2 {
  background-color: rgb(0, 85, 255); /* Green */
  margin-top: 5%;
  margin-left: 35%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.bg {
  background-color: #4CAF50; /* Green */
  margin-top: 5%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bg2 {
  background-color: #ffa500; /* Orange */
  margin-top: 5%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bg3 {
  margin-top: 5%;
  background-color: red; /* Black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.bg4 {
  margin-top: 5%;
  background-color: rgb(0, 85, 255); /* Black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.square{
  width: 500px;
  height: 500px;
  background: #ff5500;
}

.circle{
  height: 500px;
  width: 500px;
  background-color: rgb(0, 247, 255);
  border-radius: 50%;
}

.rectangle {
  height: 500px;
  width: 700px;
  background-color: rgb(0, 85, 255);
}

.triangle {
	width: 0;
	height: 0;
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 500px solid #ffa500;
}