*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// $primary: #ffa500;

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, #1488CC 0%, #2B32B2 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p{
  flex-wrap: wrap;
}
.bg {
  background-color: #4CAF50; /* Green */
  margin-top: 5%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bg2 {
  background-color: #ffa500; /* Orange */
  margin-top: 5%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bg3 {
  margin-top: 5%;
  background-color: red; /* Black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}